{
    border-style: solid;  
}
body{
    font-family: 'Roboto', sans-serif;

    
}
ul li a{
    font-size: 24px;
    color:#F9FAF8;
}
div li a{
    font-size: 18px;
    color:#E5E7EB;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
}
.two{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    color:white;
}
.headerr{
    font-size:36px;
    font-weight: 900;
    text-align: center;
    
    color: #1F2937;
}

nav{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;

    
}
nav header ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
nav header div{
    display: flex;
    justify-content: space-around;
    width:40%;
}
nav div{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    
    

}
nav div div{
    display: flex;
    flex-direction: column;
    width:40%;
}
nav div img{
    width:50%;
    background-color: #E5E7EB;
    text-align: center;
    line-height:251px ;
}
nav div div p{
    margin-top: 0px;
    margin-bottom: 0px;
}
nav div div button{
    width:30%;
    height:50px;
    border-radius:10px;
    font-size: 18px;
    margin-top: 20px;
    
}

.second_part{
    
    flex-direction: column;
    min-height: 60vh;
    padding-top: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;


}
.second_part div{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    min-height:150px;
    justify-content: center;
    
}
.card{
    width:170px;
    display: flex;
    flex-direction:column ;
}
.card div{
    text-align: center;

}
.card img{
    border-radius: 20px;
    border-color: #3882F6;
    border-style: solid;
}


/* .second_part div{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:5vw;
    min-height: 30vh;
    flex-wrap: wrap;
} */
/* .card{
    display: flex;
    flex-direction: column;
    width:250px;
    height: 100%;

}

.card div{
    text-align: center;
    height: 10%;
    
    
}

    .card img{
    border-color:#3882F6;
    border-style: solid;
    flex:1;
    border-radius: 20px;
    width:100%;
    margin-left: 0px;
    height:50%;
} */
.quote_quoter{
    min-height: 50vh;
    background-color: #E5E7EB;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote {
    max-width: 40vw;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.quoter{
    font-weight: bold;
    font-size: 25px;
    padding-right:5vw;
}

.call_to_action{
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.call_to_action div{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:10px;
    width:80vw;
    min-height:150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.call_to_action div button{
    width:10vw;
    min-height:40px;
    border-radius: 10px;
    border-color:white;
    font-size: 20px;
}
footer{
    background-color: #1F2937;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
}
